<%- include('partials/header')%>
<%- include('partials/navbar')%>
<h1>Home Page <%= 1+2+3 %> </h1>
<h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem asperiores odit quae exercitationem
    nostrum
    laboriosam? Eum, ratione nostrum! Ut libero earum debitis pariatur omnis accusamus architecto, illum
    excepturi
    ducimus. Porro?</h3>

<%- include('partials/footer')%>