<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form action="/register" method="post">
        <div>
            <label for="username">Username : </label>
            <input type="text" name="username" id="username" placeholder="Username">
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <button>Sign Up</button>
    </form>
</body>

</html>