* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article img {
    width: 30%;
    height: 30%;
    margin: 1.66666%;
    /* or call(10%/6) because the margin we set for each image is 2, and there is 3 img to calculate */
}

nav {
    margin-left: 1.6666%;
    font-size: 1.1em;
    padding: 1.2em 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    width: 30%;
    text-transform: uppercase;
}