<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CATS LIST</title>
</head>

<body>
   <h2>List of Cats : </h2>
   <h3>
      <ul>
         <% listOfCats.forEach(cat=> { %>
            <li>
               <%= cat %>
            </li>
            <% }) %>
      </ul>
   </h3>
</body>

</html>