<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <h1>Home Page <%= 1+2+3 %>
   </h1>
   <p>

   </p>
   <h2>
      <!-- EJS RETURN VALUE -->
      <%= `${scorePlayer1} - ${scorePlayer2}` %>
   </h2>
   <!--  IF ELSE STATEMENT IN EJS (not using = because not return value)-->
   <% if (scorePlayer2> scorePlayer1) { %>
      <h3> Player 2 WINs!</h3>
      <% } else { %>
         <h3> Player 1 WINs !</h3>
         <% } %>
</body>

</html>