<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>

<body>
    <h1>Comments</h1>

    <ul>
        <% comments.forEach(com => { %>
        <li> <%= com.comment %> - <%= com.username %> <a href="/comments/<%= com.id %>">details</a> </li>
        <% }) %>
    </ul>

    <a href="/comments/new">Create Comment</a>
</body>

</html>