.pokemon {
  display: inline-block;
  text-align: center;
  margin: 10px;
  transition: transform 0.2s ease-out;
}

.pokemon img {
  display: block;

}

.pokemon:hover {
  transform: scale(1.8) translateY(-15px);

}

.pokemon:hover+.pokemon {
  transform: scale(1.1) translateY(-5px);
}

.pokemon:has(+ .pokemon:hover) {
  transform: scale(1.1) translateY(-5px);
}