<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Form</title>
</head>

<body>
    <h1>Create New Product</h1>
    <form action="/products" method="POST">
        <label for="name">Name of Product : </label>
        <input type="text" name="name" id="name" placeholder="name" required>
        <br>
        <br>
        <label for="price">Price of Product: </label>
        <input type="number" step=".01" name="price" id="price" placeholder="price" required min="0">
        <br>
        <br>
        <label for="category">Category of Product: </label>
        <select name="category" id="category" required>
            <% for (let category of categories){ %>
            <option value="<%= category %>"><%= category %></option>
            <% } %>
        </select>
        <br>
        <br>
        <button>Submit</button>
    </form>
    <a href="/products">Back</a>
</body>

</html>