<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <h1><%= category.toUpperCase()  %> Products : </h1>
    <h4><%= messages %></h4>
    <ul>
        <% for (let product of listProducts) { %>
        <li> <%= product.name %> <a href="/products/<%= product._id%>">Details.</a> </li>
        <% } %>
    </ul>

    <hr>
    <a href="/products/create">New</a>
    <% if (category !== 'all') { %>
    <a href="/products">All Products</a>
    <% } %>
</body>

</html>